---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Cards, { Props } from '../components/Cards.astro';
import Head from "../components/Head.astro";
import Slider from '../components/Slider.astro';
import TextBlock from '../components/TextBlock.astro';
import Coaches from '../components/Coaches.astro';
import Callout from '../components/Callout.astro';
import heroVideo from "/src/assets/videos/beach-city-golf-sizzle.mp4";
const heroProps = {
	quoteHeader: "About Beach City Golf Club",
    videoUrl: `${heroVideo}`,
	ribbon: {
	  header: "Already a Practice Member?",
	  buttonLabel: "Book a Session",
	  buttonLink: "https://generalstudentbooking.as.me/MemberPractice"
	}
};

import golfCourseImage from "/src/assets/images/golf-course-drone.jpg";

const cardsData: Props = {
    header: {
      title: "The Easiest Way To Get Started Now At The Beach City Golf Club Is Simply Select One Of The Following Options:",
    },
    cards: {
      halfWidth: [
        {
          imageSrc: golfCourseImage,
          imageAlt: "",
          title: "\"Member For A Day Pass\" Demo",
          price: "$49",
          features: [
            "10-minute Tour (Facility/Technology)",
            "30-minute Practice Session",
            "10-minute Discuss Membership/Lesson Options"
          ],
          buttonText: "Book Now",
          buttonLink: "https://generalstudentbooking.as.me/DemoDayPassBCGC"
        },
        {
          imageSrc: golfCourseImage,
          imageAlt: "",
          title: "“New Student” 60min Lesson/Assessment",
          price: "$149",
          description: ["Prefer to have a professional guide on your golf journey? Our highly Trained Expert Coaches understand your swing pattern and will share simple and effective golf instruction for consistent lasting improvement!"],
          buttonText: "Book Now",
          buttonLink: "https://generalstudentbooking.as.me/BCGCGetStartedNSAandPracticeOptions"
        }
      ],
    }
  };

  const IntroBody: Props = {
    extraPadding: true,
    heading: "Our Mission",
    body: "Beach City Golf Club offers you personalized instruction, a state-of-the-art golf simulator, and Putting Training technology that provides a convenient, time-efficient means to improve your game and practice with awareness."
  }
---

<Layout title="BCG">
  <Head
    title="Your Page Title"
    description="Your page description goes here."
    keywords="keyword1, keyword2, keyword3"
    author="Author Name"
    image="https://yourwebsite.com/image.jpg"
    url="https://yourwebsite.com/page-url"
    additionalScripts={["https://example.com/script1.js", "https://example.com/script2.js"]}
  />
	<main>
		<Hero {...heroProps} />
    <TextBlock { ...IntroBody } />
    <Coaches />
    <Cards {...cardsData} />
	</main>
</Layout>

<style>
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
