---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Cards, { Props } from '../components/Cards.astro';
import Slider from '../components/Slider.astro';
import Coaches from '../components/Coaches.astro';
import Callout from '../components/Callout.astro';
import heroVideo from "/src/assets/videos/taylormade-fitting.mp4"
const heroProps = {
	quoteHeader: "Unlock Your Perfect Fit with Our Professional Fitters and Experience the Difference a Custom Fit Can Make.",
	primaryButtonLabel: "Book Your Fitting",
	primaryButtonLink: "https://generalstudentbooking.as.me/schedule.php?appointmentType=54195413",
    videoUrl: `${heroVideo}`,
};

import TaylorMadeImageOne from "/src/assets/images/TM24FAM_Qi10_Core_Family_Lightspeed_3Q_OSN_v1.jpg";
import TaylorMadeImageTwo from "/src/assets/images/TM24IRN-TC557-Qi-Iron-Chart-001-v1.jpg";
import TaylorMadeImageThree from "/src/assets/images/TM23IRN-F498-N2780109-P790-LFS-JPO-02645-V1.jpg";
import TaylorMadeImageFour from "/src/assets/images/TM23WDG-TC518-MG4-Chrome-FAM-BMWMG45443-v1.jpg";

const cardsDataUpper: Props = {
    reverseLayout: true,
	cards: {
	  fullWidth: [
		{
		  imageSrc: TaylorMadeImageOne,
		  imageAlt: "",
		  description: [
		  	"The Taylormade Qi10 Family has you covered from the most Moment of Interia (MOI) Qi10 Max models to the most precise Qi10 Tour Line.",
		  ],
		},
	  ]
	}
};

const cardsDataMiddle: Props = {
    reverseLayout: false,
	cards: {
	  fullWidth: [
		{
		  imageSrc: TaylorMadeImageTwo,
		  imageAlt: "",
		  description: [
		  	"The Qi10 irons stand out on their own as each iron head is individual designed to produce more forgiveness and the optimal launching conditions.",
		  ],
		},
	  ]
	}
};

const cardsDataLower: Props = {
    reverseLayout: true,
	cards: {
	  fullWidth: [
		{
		  imageSrc: TaylorMadeImageThree,
		  imageAlt: "",
		  description: [
		  	"The new P790 irons pave the way with their best in industry speed foam forged irons with each iron head being developed to achieve the best performance for every golfer.",
		  ],
		},
	  ]
	}
};

const cardsDataLast: Props = {
    reverseLayout: false,
	cards: {
	  fullWidth: [
		{
		  imageSrc: TaylorMadeImageFour,
		  imageAlt: "",
		  description: [
		  	"The new Milled Grind 4 (MG4) wedges come in a variety of lofts, grinds and bounces to meet your short game needs. Including the low bounce V grind, standard bounce C grind and the high bounce W grind",
		  ],
		},
	  ]
	}
};

const items = [
	'60 min <strong>MEMBER FOR A DAY PASS (DEMO)</strong>',
	'60 min Assessment/Lesson with one of our Elite Coaches.'
];

---

<Layout title="BCG">
	<main>
		<Hero {...heroProps} />
        <Cards {...cardsDataUpper} />
        <Cards {...cardsDataMiddle} />
        <Cards {...cardsDataLower} />
        <Cards {...cardsDataLast} />
		<Callout
			theme="blue"
			heading="Get Custom Fitted Today!"
			description="Book an appointment with our expert fitters and elevate your game with a perfect fit."
			buttonText="Book Your Fitting"
			buttonLink="https://generalstudentbooking.as.me/schedule.php?appointmentType=54195413"
		/>
	</main>
</Layout>

<style>
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
