---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Head from "../components/Head.astro";
import Cards, { Props } from '../components/Cards.astro';
import Coaches from '../components/Coaches.astro';
import Callout from '../components/Callout.astro';
import SellingPoints from "../components/SellingPoints.astro";
import heroVideo from "/src/assets/videos/beach-city-golf-sizzle.mp4";
const heroProps = {
	quoteHeader: "It's Easy to Get Started With Beach City Golf Club",
	primaryButtonLabel: "Book a $49 Member for a Day Pass",
	primaryButtonLink: "https://generalstudentbooking.as.me/DemoDayPassBCGC",
    videoUrl: `${heroVideo}`,
	ribbon: {
	  header: "Already a Practice Member?",
	  buttonLabel: "Book a Session",
	  buttonLink: "https://generalstudentbooking.as.me/MemberPractice"
	}
};

import playerSwingingClub from "/src/assets/images/player-swinging-dark-bg.jpg";
import jackTrackman from "/src/assets/images/jack-hitting-trackman.jpg";
import newStudentImage from "../../src/assets/images/new-student-60-min.jpg";

const cardsData: Props = {
    header: {
      title: "The Easiest Way To Get Started Now At The Beach City Golf Club Is Simply Select One Of The Following Options:",
    },
    cards: {
      halfWidth: [
        {
          imageSrc: playerSwingingClub,
          imageAlt: "",
          title: "\"Member For A Day Pass\" Demo",
          price: "$49",
          features: [
            "10-minute Tour (Facility/Technology)",
            "30-minute Practice Session",
            "10-minute Discuss Membership/Lesson Options"
          ],
          buttonText: "Book Now",
          buttonLink: "https://generalstudentbooking.as.me/DemoDayPassBCGC"
        },
        {
          imageSrc: jackTrackman,
          imageAlt: "",
          title: "\"New Student\" 60min Lesson/Assessment",
          price: "$149",
          description: ["Prefer to have a professional guide on your golf journey? Our highly Trained Expert Coaches understand your swing pattern and will share simple and effective golf instruction for consistent lasting improvement!"],
          buttonText: "Book Now",
          buttonLink: "https://generalstudentbooking.as.me/BCGCGetStartedNSAandPracticeOptions"
        }
      ],
        fullWidth: [
            {
                imageSrc: newStudentImage,
                imageAlt: "",
                title: "BCGC Practice Membership",
                price: "$200/month",
                description: ["5 Practice Sessions / Monthly Membership"],
                features: [
                    "Trackman Numbers, Training Games, Trackman Combine (Ball striking Test)",
                    "V1 High Speed Video Live View",
                    "V1 High speed Video Instant Payback",
                    "All your favorite golf teaching aids"
                ],
                buttonText: "Get me started",
                buttonLink: "https://app.acuityscheduling.com/catalog.php?owner=21968379&action=addCart&clear=1&id=1564441"
            }
        ]
    }
  };

---

<Layout title="BCG">
  <Head
    title="New Student Assessment / Member for a Day Pass"
    description="Get a tour of the facility and try out all of the amazing golf technologies we have put together for you!"
		keywords="golf, golf lessons, devon bonebrake, trackman, hermosa beach, south bay golf lessons"
		author="Beach City Golf"
		image="/src/assets/images/bay-two-banner.jpg"
		url="https://www.beachcitygolfclub.com/"
  />
	<main>
		<Hero {...heroProps} />
    <Cards {...cardsData} />
    <SellingPoints />
    <Coaches />
	</main>
</Layout>

<style>
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
