---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Cards, { Props } from '../components/Cards.astro';
import Coaches from '../components/Coaches.astro';
import Callout from '../components/Callout.astro';
import SellingPoints from "../components/SellingPoints.astro";

const heroProps = {
	quoteHeader: "It's Easy to Get Started With Beach City Golf Club",
	primaryButtonLabel: "Book a $49 Member for a Day Pass",
	primaryButtonLink: "https://generalstudentbooking.as.me/DemoDayPassBCGC",
    videoUrl: "/beach-city-golf-sizzle.mp4",
	ribbon: {
	  header: "Already a Member?",
	  buttonLabel: "Book a Session",
	  buttonLink: "https://generalstudentbooking.as.me/MemberPractice"
	}
};

const cardsData: Props = {
    header: {
      title: "The Easiest Way To Get Started Now At The Beach City Golf Club Is Simply Select One Of The Following Options:",
    },
    cards: {
      halfWidth: [
        {
          imageSrc: "https://images.unsplash.com/photo-1500932334442-8761ee4810a7?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
          imageAlt: "",
          title: "\"Member For A Day Pass\" Demo",
          price: "$49",
          features: [
            "10-minute Tour (Facility/Technology)",
            "30-minute Practice Session",
            "10-minute Discuss Membership/Lesson Options"
          ],
          buttonText: "Book Now",
          buttonLink: "https://generalstudentbooking.as.me/DemoDayPassBCGC"
        },
        {
          imageSrc: "https://images.unsplash.com/photo-1500932334442-8761ee4810a7?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
          imageAlt: "",
          title: "“New Student” 60min Lesson/Assessment",
          price: "$149",
          description: ["Prefer to have a professional guide on your golf journey? Our highly Trained Expert Coaches understand your swing pattern and will share simple and effective golf instruction for consistent lasting improvement!"],
          buttonText: "Book Now",
          buttonLink: "https://generalstudentbooking.as.me/BCGCGetStartedNSAandPracticeOptions"
        }
      ],
    }
  };

---

<Layout title="BCG">
	<main>
		<Hero {...heroProps} />
        <Cards {...cardsData} />
        <SellingPoints />
        <Coaches />
	</main>
</Layout>

<style>
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
