---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Cards from '../components/Cards.astro';
import Slider from '../components/Slider.astro';
---

<Layout title="BCG">
	<main>
		<Hero />
		<Cards />
		<Slider />
		<Hero />
	</main>
</Layout>

<style>
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
