---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Cards, { Props } from '../components/Cards.astro';
import Slider from '../components/Slider.astro';
import Coaches from '../components/Coaches.astro';
import Callout from '../components/Callout.astro';
import Reviews from "../components/Reviews.astro";
import SellingPoints from "../components/SellingPoints.astro";
import Head from "../components/Head.astro";
import heroVideo from "/src/assets/videos/beach-city-golf-sizzle.mp4";
import golfCourseImage from "/src/assets/images/golf-course-drone.jpg";
import memberForADayImage  from "../../src/assets/images/member-for-a-day.jpg";
import DevanImage from "../../src/assets/images/devan-membership.jpg";
import newStudentImage from "../../src/assets/images/new-student-60-min.jpg";
import JackTrackman from "../../src/assets/images/jack-hitting-trackman.jpg";
import JackPuttview from "../../src/assets/images/jack-puttview-student.jpg";

const heroProps = {
	quoteHeader: "\"Perfection is not attainable, but if we chase perfection we can catch excellence.\"",
	quoteAuthor: "- Vince Lombardi",
	primaryButtonLabel: "Book a New Student Assessment",
	primaryButtonLink: "https://GeneralStudentBooking.as.me/BCGCGetStartedNSAandPracticeOptions",
	videoUrl: `${heroVideo}`,
	ribbon: {
	  header: "Already a Practice Member?",
	  buttonLabel: "Book a Session",
	  buttonLink: "https://generalstudentbooking.as.me/MemberPractice"
	}
};
const cardsData: Props = {
  header: {
    title: "How do I get started?",
    summary: "You have three great options and three great instructors to choose from.",
  },
  cards: {
    halfWidth: [
      {
        imageSrc: memberForADayImage,
        imageAlt: "",
        title: "\"Member For A Day Pass\" Demo",
        price: "$49",
        features: [
          "10-minute Tour (Facility/Technology)",
          "30-minute Practice Session",
          "10-minute Discuss Membership/Lesson Options"
        ],
        buttonText: "Book Now",
        buttonLink: "https://generalstudentbooking.as.me/DemoDayPassBCGC"
      },
      {
        imageSrc: newStudentImage,
        imageAlt: "",
        title: "\"New Student\" 60min Lesson/Assessment",
        price: "$149",
        description: ["Prefer to have a professional guide on your golf journey? Our highly Trained Expert Coaches understand your swing pattern and will share simple and effective golf instruction for consistent lasting improvement!"],
        buttonText: "Book Now",
        buttonLink: "https://generalstudentbooking.as.me/BCGCGetStartedNSAandPracticeOptions"
      }
    ],
    fullWidth: [
      {
		imageSrc: DevanImage,
        imageAlt: "",
        title: "Lesson with Devan Bonebrake Host of GolfFix on GolfPass",
        price: "$300",
        description: ["Prefer to have a professional guide on your golf journey? Coach Devan understands your swing pattern and will share simple and effective golf instruction for consistent lasting improvement!"],
        features: [
          "Best One on One Instruction in SoCal",
          "Full Access: Trackman Launch Monitor/PuttView Putting System",
          "Voiceover video Analysis",
          "Take home instruction/training",
          "60 Min Session"
        ],
        buttonText: "Book With Devan",
        buttonLink: "https://generalstudentbooking.as.me/DevanBonebrakeLesson"
      }
    ]
  }
};

const cardsDataLower: Props = {
	cards: {
	  fullWidth: [
		{
		  imageSrc: golfCourseImage,
		  imageAlt: "",
		  title: "Our Mission Is Your Success",
		  description: [
		  	"Devan Bonebrake (Host of The Golf FIX, Golf Digest Best Young Teachers) created the Beach City Golf Club in Hermosa Beach with one goal in mind…to use their expertise and passion for golf to create the perfect practice and training facility for improving your golf game.",
		  	"Our convenient location coupled with expert personal instruction and state-of-the-art tech provides an addictive, fun, engaging, and highly effective set of membership options to improve your golf game once and for all!",
		  ],
		  buttonText: "Say No More, Get Me Started",
		  buttonLink: "#"
		}
	  ]
	}
  };

  const sliderData1 = {
	id: "1",
	theme: "dark",
	slides: [
	  {
		imageSrc: JackTrackman,
		title: "Master the Moment",
		content: [
		  "Golf ultimately comes down to one moment: The Moment of TRUTH, and that is Impact.",
		  "If you truly want to master your golf moment, you must:",
		  "Train with great awareness of mind and body",
		  "Seek out trusted expert guidance",
		  "And practice and play golf with a sharp focus on intention, purpose, and persistence",
		  "If you maintain these guiding principles, you will MASTER YOUR MOMENT as a Beach City Golf Club member."
		],
		buttonText: "Sign up now",
		buttonLink: "https://generalstudentbooking.as.me/BCGCGetStartedNSAandPracticeOptions"
	  },
	  {
		imageSrc: JackPuttview,
		title: "Discover Your Potential",
		content: [
		  "Unlock your full potential with our expert guidance and state-of-the-art facilities.",
		  "Join us and take your golf game to the next level.",
		  "Experience the difference with personalized coaching and comprehensive training programs."
		],
		buttonText: "Learn more",
		buttonLink: "https://generalstudentbooking.as.me/BCGCGetStartedNSAandPracticeOptions"
	  },
	]
  };

  const cardsDataLower2: Props = {
	cards: {
	  fullWidth: [
		{
		  imageSrc: golfCourseImage,
		  imageAlt: "",
		  title: "Our Mission Is Your Success",
		  description: [
		  	"Devan Bonebrake (Host of The Golf FIX, Golf Digest Best Young Teachers) created the Beach City Golf Club in Hermosa Beach with one goal in mind…to use their expertise and passion for golf to create the perfect practice and training facility for improving your golf game.",
		  	"Our convenient location coupled with expert personal instruction and state-of-the-art tech provides an addictive, fun, engaging, and highly effective set of membership options to improve your golf game once and for all!",
		  ],
		  buttonText: "Say No More, Get Me Started",
		  buttonLink: "https://generalstudentbooking.as.me/BCGCGetStartedNSAandPracticeOptions"
		}
	  ]
	}
  };

	const items = [
	'60 min <strong>MEMBER FOR A DAY PASS (DEMO)</strong>',
	'60 min Assessment/Lesson with one of our Elite Coaches.'
	];

---
<Head
	title="Beach City Golf Club | Indoor Golf Lessons Hermosa Beach, CA"
	description="Welcome to Beach City Golf Club. Trackman indoor golf simulator, PuttView & lessons in Hermosa Beach, CA. Schedule a demo today. Call (310) 439-9002"
	keywords="golf, golf lessons, devon bonebrake, trackman, hermosa beach, south bay golf lessons"
	author="Beach City Golf"
	image="/src/assets/images/bay-two-banner.jpg"
	url="https://www.beachcitygolfclub.com/"
/>
<Layout title="BCG">
	<main>
		<Hero {...heroProps} />
		<Cards {...cardsData} />
		<Slider {...sliderData1} />
		<Cards {...cardsDataLower2} />
		<Coaches />
		<Callout
			theme="blue"
			heading="Not ready to select a Membership/Series yet... No Problem!"
			description="It's easy to get started just select one of the following:"
			items={items}
			buttonText="I'm Ready To Get Started"
			buttonLink="https://generalstudentbooking.as.me/BCGCGetStartedNSAandPracticeOptions"
		/>
		<Reviews />
		<SellingPoints />
	</main>
</Layout>

<style>
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
