---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Head from "../components/Head.astro";
import Cards, { Props } from '../components/Cards.astro';
import Coaches from '../components/Coaches.astro';
import Callout from '../components/Callout.astro';
import bayTwoImage from "/src/assets/images/bay-two-banner.jpg";

const heroProps = {
	quoteHeader: "Golf Lessons",
  backgroundImageUrl: "/bay-two-banner.jpg",
	primaryButtonLabel: "Book a $49 Member for a Day Pass",
	primaryButtonLink: "https://generalstudentbooking.as.me/DemoDayPassBCGC",
	ribbon: {
	  header: "Already a Practice Member?",
	  buttonLabel: "Book a Session",
	  buttonLink: "https://generalstudentbooking.as.me/BCGCGetStartedNSAandPracticeOptions"
	}
};

import playerSwingingClub from "/src/assets/images/player-swinging-dark-bg.jpg";
import jackTrackman from "/src/assets/images/jack-hitting-trackman.jpg";
import jackPuttviewSudent from "/src/assets/images/jack-puttview-student.jpg";

const cardsData: Props = {
    header: {
      title: "The Easiest Way To Get Started Now At The Beach City Golf Club Is Simply Select One Of The Following Options:",
    },
    cards: {
      halfWidth: [
        {
          imageSrc: playerSwingingClub,
          imageAlt: "",
          title: "Perform 2 Private Lesson Membership",
          price: "$250/month",
          description: ["Two 50 min Private Golf Lessons with the Trackman Simulator Bay or PuttView Putting System."],
          features: [
            "Best one-on-one instruction in SoCal",
            "Trackman Launch Monitor Simulator Bay",
            "V1 Video Live View",
            "V1 High speed Video Instant Payback",
            "Voiceover Video Analysis",
            "Take home instruction/training checklist",
          ],
          buttonText: "Let's do it",
          buttonLink: "https://app.acuityscheduling.com/catalog.php?owner=21968379&action=addCart&clear=1&id=1557012"
        },
        {
          imageSrc: jackTrackman,
          imageAlt: "",
          title: "Excel 3 Private Lesson Membership",
          price: "$350/month",
          description: ["Three 50 min Private Golf Lessons with Trackman Simulator / PuttView Putting System"],
          features: [
            "Best one-on-one instruction in SoCal",
            "Trackman Launch Monitor Simulator Bay",
            "V1 Video Live View",
            "V1 High speed Video Instant Payback",
            "Voiceover Video Analysis",
            "Take home instruction/training checklist",
            "PuttView + BCGC Coach = Read/Line/Speed dialed like a pro!",
          ],
          buttonText: "Book Now",
          buttonLink: "https://app.acuityscheduling.com/catalog.php?owner=21968379&action=addCart&clear=1&id=1557010"
        },
      ],
      fullWidth: [
            {
                imageSrc: jackPuttviewSudent,
                imageAlt: "",
                title: "Achieve 4 Private Lesson Membership",
                price: "$450/month",
                description: ["4 Practice Sessions / Monthly Membership"],
                features: [
                    "Trackman Numbers, Training Games, Trackman Combine (Ball striking Test)",
                    "V1 High Speed Video Live View",
                    "V1 High speed Video Instant Payback",
                    "All your favorite golf teaching aids"
                ],
                buttonText: "Get me started",
                buttonLink: "https://app.acuityscheduling.com/catalog.php?owner=21968379&action=addCart&clear=1&id=1624330"
            }
        ]
    }
  };

---

<Layout title="BCG">
	<Head
		title="Hermosa Beach Golf Lessons & Indoor Training"
		description="Welcome to Beach City Golf Club. Trackman indoor golf simulator, PuttView & lessons in Hermosa Beach, CA. Schedule a demo today. Call (310) 439-9002"
		keywords="golf, golf lessons, devon bonebrake, trackman, hermosa beach, south bay golf lessons"
		author="Beach City Golf"
		image="/src/assets/images/bay-two-banner.jpg"
		url="https://www.beachcitygolfclub.com/"
	/>
	<main>
		<Hero {...heroProps} />
    <Cards {...cardsData} />
    <Coaches />
	</main>
</Layout>

<style>
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
