<section class="cards">
    <div class="container">
        <div class="cards-header">
            <h2>
                How do I get started?
            </h2>
            <div class="cards-summary">
                <p>You have <strong>three</strong> great options and <strong>three</strong> great instructors to choose from.</p>
            </div>
        </div>
    </div>
</section>

<style>
    .cards {
        padding: 160px 0 40px;
        background: var(--white);

        @media (min-width: 750px) {
            padding: 180px 64px 96px;
        }

        @media (min-width: 900px) {
            padding: 140px 64px 96px;
        }

        .container {
            @media (min-width: 750px) {
                /* padding: 0 64px; */
            }
        }

        h2 {
            margin: 0 0 8px;
            color: var(--black);
            font-family: "proxima-nova-extra-condensed", sans-serif;
            font-size: 56px;
            font-weight: 600;
            letter-spacing: -1px;
            line-height: 1.15;
            text-transform: uppercase;
        }

        .cards-summary {
            p {
                margin-top: 0;
                font-size: 24px;
                line-height: 1.5;
            }
        }
    }
</style>