<header class="header">
    <div class="container">
        <div class="header-brand">
            <a href="#" class="header-logo logo"></a>
        </div>
        <div class="header-nav">
            <nav>
                <ul>
                    <li>
                        <a href="#">
                            Day Passes
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Memberships
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Technology
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Club Fitting
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header-controls">
            <ul>
                <li>
                    <a href="#">310-439-9002</a>
                </li>
                <li>
                    <a href="#" class="button button--blue">
                        Get Started
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>

<style>
    .header {
        position: fixed;
        top: 0;
        left: 0;
        padding: 16px 0;
        width: 100%;
        background-color: transparent;
        transition: linear 0.25s;
        z-index: 10;

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .header-nav {
            display: none;

            @media (min-width: 1150px) {
                display: block;
            }

            ul {
                display: flex;
                gap: 30px;
                margin: 0;
                padding-left: 0;

                @media (min-width: 1150px) {
                    gap: 24px;
                }

                @media (min-width: 1350px) {
                    gap: 30px;
                }

                a {
                    color: var(--white);
                    font-family: "proxima-nova-extra-condensed", sans-serif;
                    font-size: 21px;
                    font-weight: 600;
                    letter-spacing: 0.025em;
                    text-transform: uppercase;
                    transition: linear 0.25s;

                    &:hover {
                        color: var(--blue100);
                    }
                }
            }

            &.header-scrolled {
                ul {
                    a {
                        color: var(--black);

                        &:hover {
                            color: var(--blue100);
                        }
                    }
                }
            }
        }

        .header-controls {
            ul {
                display: flex;
                align-items: center;
                gap: 24px;
                margin: 0;
                padding: 0;

                a:not(.button) {
                    display: none;
                    color: var(--white);
                    font-family: "proxima-nova-extra-condensed", sans-serif;
                    font-size: 21px;
                    font-weight: 700;
                    letter-spacing: 0.02em;

                    @media (min-width: 750px) {
                        display: inline-block;
                    }
                }
            }
        }
    }
    .logo {
        display: inline-block;
        height: 50px;
        width: 130px;
        background: var(--blue100);

        @media (min-width: 500px) {
            height: 60px;
            width: 150px;
        }
    }
</style>

<script>
    import gsap from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    import Lenis from "lenis";
    gsap.registerPlugin(ScrollTrigger) 

    const header = document.querySelector(".header");
    const headerLinks = gsap.utils.toArray(".header-nav li a");
    const headerTimeline = gsap.timeline();

    // Initialize Lenis
    const lenis = new Lenis({
        lerp: 0.1,
        smooth: true,
        direction: 'vertical'
    });

    function raf(time) {
        lenis.raf(time);
        requestAnimationFrame(raf);
    }

    requestAnimationFrame(raf);

    // Update header to white on scroll
    gsap.to(header, {
        backgroundColor: "#FFF",
        color: "#000",
        scrollTrigger: {
            start: "top+=50",
            end: "bottom top",
            toggleActions: "play none none reverse",
            toggleClass: {
                className: "header-scrolled",
                targets: ".header-nav",
            },
        },
        duration: 0.3
    });

</script>