<header class="header">
    <div class="container">
        <div class="header-brand">
            <a href="#" class="header-logo logo"></a>
        </div>
        <div class="header-nav">
            <nav>
                <ul>
                    <li>
                        <a href="#">
                            Day Passes
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Memberships
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Technology
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            TaylorMade Club Fitting
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header-controls">
            <ul>
                <li>
                    <a href="#">310-439-9002</a>
                </li>
                <li>
                    <a href="#" class="button button--blue">
                        Get Started
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>

<style>
    .header {
        padding: 16px 0;

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .header-nav {
            display: none;

            @media (min-width: 1150px) {
                display: block;
            }

            ul {
                display: flex;
                gap: 30px;
                margin: 0;
                padding-left: 0;

                @media (min-width: 1150px) {
                    gap: 24px;
                }

                @media (min-width: 1350px) {
                    gap: 30px;
                }

                a {
                    color: var(--white);
                    font-family: "proxima-nova-condensed", sans-serif;
                    font-size: 19px;
                    font-weight: 600;
                    letter-spacing: 0.02em;
                    text-transform: uppercase;

                    @media (min-width: 1150px) {
                        font-size: 16px;
                    }

                    @media (min-width: 1350px) {
                        font-size: 19px;
                    }

                    transition: linear 0.25s;

                    &:hover {
                        color: var(--blue100);
                    }
                }
            }
        }

        .header-controls {
            ul {
                display: flex;
                align-items: center;
                gap: 24px;
                margin: 0;
                padding: 0;

                a:not(.button) {
                    color: var(--white);
                    font-family: "proxima-nova-condensed", sans-serif;
                    font-size: 20px;
                    font-weight: 700;
                    letter-spacing: 0.02em;
                }
            }
        }
    }
    .logo {
        display: inline-block;
        height: 60px;
        width: 150px;
        background: var(--blue100);
    }
</style>