<section class="selling bg-gradient-blue">
    <div class="container">
        <header>
            <h2 class="section-heading section-heading-white">How it works</h2>
            <p>It's easy to get started.</p>
        </header>
        <div class="selling-blocks">
            <div class="selling-block">
                <p>Step 1</p>
                <h3>Schedule an appointment with one of our premium fitters</h3>
            </div>
            <div class="selling-block">
                <p>Step 2</p>
                <h3>Schedule an appointment with one of our premium fitters</h3>
            </div>
            <div class="selling-block">
                <p>Step 3</p>
                <h3>Schedule an appointment with one of our premium fitters</h3>
            </div>
        </div>
    </div>
</section>

<style>
    .selling {
        padding: 104px 0;

        header {
            padding-bottom: 32px;

            @media (min-width: 750px) {
                padding-bottom: 56px;
            }

            h2 {
                margin: 0;
            }

            p {
                margin: 0;
                color: var(--white);
                font-size: 36px;
            }
        }

        .selling-blocks {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;

            @media (min-width: 900px) {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }

        .selling-block {
            padding: 80px 40px;
            background: var(--blue200);
            color: var(--white);

            p,
            h3 {
                margin: 0;
                font-family: "proxima-nova-extra-condensed", sans-serif;
                line-height: 1.2;
                text-transform: uppercase;
            }

            p {
                margin-bottom: 8px;
                font-size: 24px;
            }

            h3 {
                font-size: 40px;
            }
        }
    }
</style>