---
interface Props {
	theme: string;
    id: string,
}

const { theme, id } = Astro.props;
---
<section class=`splide slider slider-${theme}` id=`${id}`>
    <div class="splide__track">
        <div class="splide__list">
            <div class="slider-slide splide__slide">
                <div class="slider-image">
                    <img src="https://images.unsplash.com/photo-1500932334442-8761ee4810a7?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                </div>
                <div class="slider-copy">
                    <h2>Master the Moment</h2>
                    <div class="slider-wysiwyg">
                        <p>
                            Golf ultimately comes down to one moment: The Moment of TRUTH, and that is Impact.
                        </p>
                        <p>
                            If you truly want to master your golf moment, you must:
                        </p>
                        <ul>
                            <li>Train with great awareness of mind and body</li>
                            <li>Seek out trusted expert guidance</li>
                            <li>And practice and play golf with a sharp focus on intention, purpose, and persistence</li>
                        </ul>
                        <p>
                            If you maintain these guiding principles, you will MASTER YOUR MOMENT as a Beach City Golf Club member.
                        </p>
                    </div>
                    <a href="#" class="button button--blue">
                        Sign up now
                    </a>
                </div>
            </div>
            <div class="slider-slide splide__slide">
                <div class="slider-image">
                    <img src="https://images.unsplash.com/photo-1500932334442-8761ee4810a7?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                </div>
                <div class="slider-copy">
                    <h2>Master the Moment</h2>
                    <div class="slider-wysiwyg">
                        <p>
                            Golf ultimately comes down to one moment: The Moment of TRUTH, and that is Impact.
                        </p>
                        <p>
                            If you truly want to master your golf moment, you must:
                        </p>
                        <ul>
                            <li>Train with great awareness of mind and body</li>
                            <li>Seek out trusted expert guidance</li>
                            <li>And practice and play golf with a sharp focus on intention, purpose, and persistence</li>
                        </ul>
                        <p>
                            If you maintain these guiding principles, you will MASTER YOUR MOMENT as a Beach City Golf Club member.
                        </p>
                    </div>
                    <a href="#" class="button button--blue">
                        Sign up now
                    </a>
                </div>
            </div>
            <div class="slider-slide splide__slide">
                <div class="slider-image">
                    <img src="https://images.unsplash.com/photo-1500932334442-8761ee4810a7?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                </div>
                <div class="slider-copy">
                    <h2>Master the Moment</h2>
                    <div class="slider-wysiwyg">
                        <p>
                            Golf ultimately comes down to one moment: The Moment of TRUTH, and that is Impact.
                        </p>
                        <p>
                            If you truly want to master your golf moment, you must:
                        </p>
                        <ul>
                            <li>Train with great awareness of mind and body</li>
                            <li>Seek out trusted expert guidance</li>
                            <li>And practice and play golf with a sharp focus on intention, purpose, and persistence</li>
                        </ul>
                        <p>
                            If you maintain these guiding principles, you will MASTER YOUR MOMENT as a Beach City Golf Club member.
                        </p>
                    </div>
                    <a href="#" class="button button--blue">
                        Sign up now
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="slider-progress">
            <div class="slider-progress-bar"></div>
          </div>
    </div>
</section>

<style>
    @import '@splidejs/splide/css';

    .slider {
        position: relative;
        padding: 40px 16px;

        @media (min-width: 750px) {
            padding: 96px 0 96px 48px;
        }

        .container {
            position: relative;
        }

        &.slider-dark {
            background: var(--black200);
            color: var(--white);
        }
        &.slider-light {
            background: var(--white);
            color: var(--black200);
        }
        .slider-slide {
            display: flex;
            flex-direction: column;
            gap: 32px;

            @media (min-width: 750px) {
                align-items: center;
                flex-direction: row;
                gap: 48px;
            }
        }
        .slider-image,
        .slider-copy {
            @media (min-width: 750px) {
                width: 50%;
            }
        }

        .slider-image {
            border-radius: 2px;
            overflow: hidden;
        }

        .slider-copy {
            h2 {
                margin: 0;
                font-family: "proxima-nova-extra-condensed", sans-serif;
                font-size: 40px;
                font-weight: 600;
                letter-spacing: -1px;
                line-height: 1.15;
                text-transform: uppercase;

                @media (min-width: 750px) {
                    font-size: 48px;
                }
            }

            p, li {
                font-size: 20px;
                line-height: 1.5;

                @media (min-width: 750px) {
                    max-width: 640px;
                    font-size: 22px;
                }
            }

            ul {
                padding-left: 22px;
                list-style: disc;

                li {
                    margin-bottom: 3px;
                }
            }
        }

        .splide__sr {
            display: none !important;
            position: absolute;
            left: -99999em;
            visibility: hidden;
        }
    }



    .slider-progress {
        position: absolute;
        bottom: -66px;
        left: 50%;
        width: 90%;
        background: #DDD;
        transform: translateX(-50%);
    }

    .slider-progress-bar {
        background: var(--blue100);
        height: 8px;
        transition: width 400ms ease;
        width: 0;
    }
</style>

<script>
    import Splide from "@splidejs/splide";

    document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll('.splide').forEach(carousel => {
        let splide = new Splide(carousel, {
            type: "loop",
            focus: "center",
            perPage: 1,
            arrows: false,
            pagination: false,
            breakpoints: {
                750: {
                    padding: {
                        left: "0",
                        right: "5%",
                    },
                },
            },
        }).mount();

        let bar = splide.root.querySelector('.slider-progress-bar');
        
        // Set initial progress bar width on load
        let end = splide.Components.Controller.getEnd() + 1;
        let initialRate = Math.min((splide.index + 1) / end, 1);
        bar.style.width = String(100 * initialRate) + '%';

        splide.on('mounted move', function () {
            let end = splide.Components.Controller.getEnd() + 1;
            let rate = Math.min((splide.index + 1) / end, 1);
            bar.style.width = String(100 * rate) + '%';
        });
    });
});
</script>